* {
  font-family: "Madimi One", sans-serif;
}

body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(to bottom right, #ff8c94, #ffd3b6);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.question-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

#questionContainer {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  box-sizing: border-box;
}

button {
  background-color: #ff8c94;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #ff7179;
}

#proposalResult {
  margin-top: 20px;
}

.hidden {
  display: none;
}

ul {
  list-style: none;
  padding: 0;
}

/* shake if empty box */
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25%,
  75% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
}

.shake {
  animation: shake 0.5s ease-in-out;
}
